body {  
    background-image: url(/images/netflix-background2.svg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    z-index: -100;
    background-color: black;
    width: 100%;
}
.outerContainer{
    width: 100%;
}
.container {  
    display: inline-block;
    width: 100%;
    margin-top: 250px;
    z-index: 1;
    color: white;
}
h3 {
    color: grey;
    margin:0;
    font-size: 2rem;
    display: block;
}
.search {
    width: 100%;
}
.form {
	margin: 0 auto 20px;
}
#contentInput {
    width: 80%;
    display: block;
	margin: 0 auto;
    height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid grey;
	outline: none;
	font: 300 28px 'Ubuntu', sans-serif;
	color: grey;
}

.container ul {
    margin-left: 10rem;
    margin-right: 15rem;
    z-index: 2;
    color: white;
}

.item {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	padding: 0 20px;
	color: grey;
    transition: all .3s ease;
    list-style: square;
}
.item:hover {
    background: rgb(250, 0, 0);
    color: white;
	cursor: pointer;
}

.item:hover span{
	opacity: 1;
}

.done {
	text-decoration: line-through;
	color: grey;
}

li span {
  float: right;
  color: white;
  transition: all 0.3s;
  opacity: 0;
}

li span:hover {
  color: black;
}
