body {  
    background-image: url(/images/netflix-background2.svg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    z-index: -100;
    background-color: black;
}
.container {  
    position: absolute;
    z-index: 1;
    color: white;
}

.container2 {
    /* z-index: 2; */
    margin-top: 20%;
    color: white;
}

h3 {
    text-align: center;
    color: grey;
    font-size: 2rem;
}

ul {
    margin-top: 10rem;
    margin-left: 10rem;
    z-index: 2;
    color: white;
}

.item {
    width: 100%;
    line-height: 2rem;
    font-size: 1.5rem;
    transition: all .3s ease;
    list-style: square;
}

.done {
    text-decoration: line-through;
    color: grey;
}